<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Purposefully</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg">
            <div class="container" style="border-bottom: 2px solid #5bc0de; padding-bottom: .75%;">
                <div class="navbar-header">
                    @Html.ActionLink("Purposefully", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-info text-lg", @style = "font-weight: bold;" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li class="nav-item nav-link">@Html.ActionLink("Your Profile", "Index", "Profile", new { area = "" }, new { @class = "btn btn-outline-info btn-sm"})</li>
                        <li class="nav-item nav-link">@Html.ActionLink("Goals", "Index", "Goal", new { area = "" }, new { @class = "btn btn-outline-info btn-sm" })</li>
                        <li class="nav-item nav-link">@Html.ActionLink("Journal Entries", "Index", "Entry", new { area = "" }, new { @class = "btn btn-outline-info btn-sm" })</li>
                        <li class="nav-item nav-link">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn btn-outline-info btn-sm" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="margin-left: 32.5%">&copy; @DateTime.Now.Year - Purposefully™ created to help you achieve all your goals.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
