@model Purposefully.Models.ProfileModels.ProfileDetail

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top: 5%; margin-left: 5%">Delete Profile</h2>
<h5 style="margin-top: 3%; margin-left: 10%; margin-right: 10%;">Below is your profile to be deleted. Please make sure you're ready to delete it as we cannot fetch the information after deletion.</h5>
<hr style="margin-bottom: 1%;" />

<div class="card mb-3">
    <div class="card-body text-center">
        <h3 class="card-title">@Html.DisplayFor(model => model.FullName)</h3>
        <h4 class="card-text"> @Html.DisplayFor(model => model.Motivation)</h4>
        <p class="card-text">Profile ID # @Html.DisplayFor(model => model.ProfileId)</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left: 10%; margin-top: 5%; margin-bottom: 5%;">
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
        <button class="form-actions btn" type="button">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-info btn-lg" })
        </button>
    </div>
}

