@model IEnumerable<Purposefully.Models.ProfileModels.ProfileListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top: 5%; margin-left: 3%">Profile</h2>

<button type="button" class="btn" style="margin: 1%;">
    @Html.ActionLink("Create New Profile", "Create", "", new { @class = "btn btn-info btn-md" })
</button>
<hr style="margin-bottom: 1%;" />


@foreach (var item in Model)
{
    <div class="card mb-3">
        <img class="card-img-top" src="~/Content/Assets/Profile/ProfileQuote.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <h3 class="card-title">@Html.DisplayFor(modelItem => item.FullName), you can do this.</h3>
            <h4 class="card-text"> @Html.DisplayFor(modelItem => item.Motivation)</h4>
            <p class="card-text">Your Profile ID # is @Html.DisplayFor(modelItem => item.ProfileId)</p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfileId }, new { @class = "text-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProfileId }, new { @class = "text-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProfileId }, new { @class = "text-danger" })
            </p>
        </div>
    </div>

}

