@model Purposefully.Models.GoalModels.GoalCreate

@{
    ViewBag.Title = "Create";
}

<h2 style="margin-top: 5%; margin-left: 3%">Create A New Goal</h2>
<h5 style="margin-top: 3%; margin-left: 10%; margin-right: 10%;">Add a new goal for yourself, it can be focused on whatever you wish. Remember, to clearly state how to make your goals attainable. We enjoy the S.M.A.R.T. method as guide to help define a clear path to success. It's located below!</h5>
<hr style="margin-bottom: 1%;" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form" style="margin-top: 3%; margin-left: 25%;">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-row">
        @Html.LabelFor(model => model.GoalTitle, "Goal Title:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GoalTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GoalTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.GoalContent, "Define and Detail Your Goal:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GoalContent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GoalContent, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.Difficulty, "Difficulty Level (1-5):", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Difficulty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.StartDate, "Start Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.EndDate, "End Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.Completed, "Goal Completed?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Completed)
                @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-row">
        @Html.LabelFor(model => model.ProfileId, "Your Profile ID #:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProfileId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProfileId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
</div>
} 

<div style="margin-left: 10%; margin-top: 2%; margin-bottom: 2%;">
    <button type="button" class="btn">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-info btn-lg" })
    </button>
</div>

<img src="~/Content/Assets/Goal/SMART.jpg" class="img-fluid" alt="A photo that defines the s.m.a.r.t. method for goal writing." />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
