@model Purposefully.Models.GoalModels.GoalDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top: 5%; margin-left: 3%">Goal Detail</h2>
<hr style="margin-bottom: 1%;" />

<div>
    <div style="margin-left: 27%; margin-top: 2%;">
        <div class="card bg-light mb-3" style="width: 30rem; overflow-y: hidden;">
            <div class="card-header">
                <h6>Goal ID # @Html.DisplayFor(model => model.GoalId)</h6>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(model => model.GoalTitle)</h4>
                <p class="card-text d-inline-block text-wrap">@Html.DisplayFor(model => model.GoalContent)</p>
                <p class="card-text">Start Date: @Html.DisplayFor(model => model.StartDate)</p>
                <p class="card-text">End Date: @Html.DisplayFor(model => model.EndDate)</p>
                <p class="card-text">Difficulty: @Html.DisplayFor(model => model.Difficulty)/5</p>
                <h6>Completed? @Html.DisplayFor(model => model.Completed)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.ProfileId)</p>
            </div>
        </div>
    </div>
</div>

<div style="margin-left: 10%; margin-top: 5%; margin-bottom: 5%;">
    <button type="button" class="btn">
        @Html.ActionLink("Edit", "Edit", new { id = Model.GoalId }, new { @class = "btn btn-outline-info btn-lg" })
    </button>
    <button type="button" class="btn">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-info btn-lg" })
    </button>
</div>
<p></p>
